
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <link href="css/pokestyle.css" rel="stylesheet" type="text/css" />
    <title>Pokemon Action</title>
  </head>
  <body>
     <header>
       <h1>Pokemons!!</h1>
     </header>
      <div>
        <ul>
          <% @pokemons.each do |pokemon| %>
            <li>
               <a href="/pokemons/<%= pokemon.id %>">
                 <%= pokemon.name %>
                 <%= pokemon.id %>
              </a>
            </li>
            <% end %>
        </ul>
      </div>
  </body>
</html>
